body {
    color: rgb(238, 255, 3);
    background: rgb(27, 4, 109);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
border-bottom: solid 1px rgb(245, 2, 2);
padding: 10px;
font-size: 30px;
color: rgb(255, 11, 11);
}

.chamada {
    background: rgb(8, 4, 127);
    padding-bottom: 80px;
   padding-top: 80px; 
   display: flex;
   justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}
img {
     height: 200px;
}

.categoria-video {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-video img {
opacity: 0.5;
}